<%= form_for(@report) do |f| %>
  <% if @report.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@report.errors.count, "error") %> prohibited this report from being saved:</h2>

      <ul>
      <% @report.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>

    <div class='span7'>
      <p>Search and add the Occupations on which you'd like to report here. </p> <br />
      <%= f.collection_select(:occupation_ids, Occupation.all.order(:name), :id, :name, {:selected => @report.occupation_ids }, {multiple:true, class: 'chosen-interests'}) %>
      <br /> <br />
    </div>

    <div class='span7'>
      <p>Search and add the Industries on which you'd like to report here. </p> <br />
      <%= f.collection_select(:industry_ids, Industry.all.order(:name), :id, :name, {:selected => @report.industry_ids }, {multiple:true, class: 'chosen-orgs'}) %>
      <br /> <br />
    </div>

    <div class='span7'>
      <p>Search and add the Areas on which you'd like to report here.</p> <br />
      <%= f.collection_select(:area_ids, Area.all.order(:name), :id, :name, {:selected => @report.area_ids }, {multiple:true, class: 'chosen-orgs'}) %>
      <br /> <br />
    </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
