<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @report.title %>
</p>

<p>
  <strong>Occupations</strong>
<ul>
  <% @report.occupations.each do |occupation| %>
      <li><%= "#{occupation.formatted_code}: #{occupation.name}" %></li>
  <%end%>
</ul>

</p>

<p>
  <strong>Industries</strong>
<ul>
  <% @report.industries.each do |industry| %>
      <li><%= "#{industry.formatted_code}: #{industry.name}" %></li>
  <%end%>
</ul>


</p><p>
  <strong>Data Types</strong>
<ul>
  <% @report.data_types.each do |data_type| %>
      <li><%= "#{data_type.code.to_s}: #{data_type.name}" %></li>
  <%end%>
</ul>


</p>

</p><p>
  <strong>Areas</strong>
<ul>
  <% @report.areas.each do |area| %>
      <li><%= "#{area.code.to_s}: #{area.name}" %></li>
  <%end%>
</ul>


</p>

        <%= link_to 'Edit', edit_report_path(@report) %> |
<%= link_to 'Back', reports_path %>
